@page "/explore"
@inject IJSRuntime IJS
@page "/explore/{Keyword}"

@inject PostService PostSvc
@inject TrendingService TrendingSvc
@inject UserProfileService UserSvc
<div class="container m-auto">

    <h1 class="lg:lg:text-2xl text-lg text-lg font-extrabold leading-none text-gray-900 tracking-tight mt-3"> Explore </h1>

    <div class="lg:m-0 -mx-5 flex justify-between items-center py-2 relative space-x-3 dark-tabs" uk-sticky="cls-active: bg-gray-100 bg-opacity-95; media : @("@m") ; media @("@m")">
        <div class="flex overflow-x-scroll lg:overflow-hidden lg:pl-0 pl-5 space-x-3 lg:py-2">
            @foreach (var trend in ListTrending)
            {
                <a href="/explore/@(trend.Tag.Replace("#",""))" class="bg-white py-2 px-4 rounded inline-block font-bold shadow"> @trend.Tag</a>
            }

        </div>
    </div>

    <div class="grid lg:grid-cols-4 grid-cols-2 gap-2 hover:text-yellow-700 uk-link-reset">
        <Virtualize Items="@ListPost" Context="post">

            <div @key="post.Id">

                <div class="bg-green-400 max-w-full lg:h-64 h-40 rounded-md relative overflow-hidden uk-transition-toggle shadow-sm">
                    <a href="/explore#" @onclick="(()=>OpenComment(post))">
                        <img src="@(string.IsNullOrEmpty(post.ImageUrls)? "assets/images/avatars/avatar-1.jpg" : post.ImageUrls)" class="w-full h-full absolute object-cover inset-0">
                    </a>
                   
                    <div class="absolut absolute bottom-0 flex items-center justify-between px-4 py-3 space-x-2 text-white w-full custom-overly1">
                        <a href="#">@post.PostByUser.FullName </a>
                        <div class="flex space-x-3">
                            <a href="#" class="flex items-center"> <ion-icon name="heart" class="mr-1 md hydrated" role="img" aria-label="heart"></ion-icon>  @post.PostLikes.Count.ToString("n0") </a>
                            <a href="#" class="flex items-center"> <ion-icon name="chatbubble-ellipses" class="mr-1 md hydrated" role="img" aria-label="chatbubble ellipses"></ion-icon> @post.PostComments.Count.ToString("n0") </a>
                        </div>
                    </div>
                </div>
            </div>
        </Virtualize>



    </div>


</div>

@code {
    [Parameter]
    public string Keyword { get; set; }

    [CascadingParameter]
    public MainLayout Layout { get; set; }

    [Parameter]
    public string UserName { get; set; }

    public List<Post> ListPost { get; set; } = new();
    public List<TrendingTag> ListTrending { get; set; } = new();
    async Task OpenComment(Post post)
    {
        PostSvc.RefreshEntity(post);
        Layout.CurrentPost = post;
        Layout.NewComment = new();
        await IJS.InvokeVoidAsync("ShowModal", "story-modal");

    }
    void LoadData()
    {

        ListPost = PostSvc.FindByKeyword(Keyword);
        OldKeyword = Keyword;
    }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string Username;
    UserProfile selUser;
    bool IsLogin = false;
    string OldKeyword;
    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            IsLogin = true;
            Username = user.Identity.Name;
            selUser = UserSvc.GetItemByUsername(Username);

        }
        if (string.IsNullOrEmpty(Keyword))
        {
            Keyword = "";
        }
        ListTrending = TrendingSvc.GetLatestTrending();
        LoadData();
    }
    protected override void OnParametersSet()
    {
        if (Keyword != OldKeyword)
        {
            LoadData();
        }
    }
}
